<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.generate.mapper.KeymanageMapper">

    <resultMap type="Keymanage" id="keymanageResult">
        <result property="keyId" column="key_id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="encrytType" column="encryt_type"/>
        <result property="encrytName" column="encryt_name"/>
        <result property="keyName" column="key_name"/>
        <result property="keyUse" column="key_use"/>
        <result property="keyValue" column="key_value"/>
        <result property="creTime" column="cre_time"/>
        <result property="updTime" column="upd_time"/>
        <result property="autoUpdate" column="auto_update"/>
        <result property="status" column="status"/>
        <result property="chainHash" column="chain_hash"/>
        <result property="blockHeight" column="block_height"/>
        <result property="chainStatus" column="chain_status"/>
        <result property="version" column="version"/>
        <result property="uA" column="ua"/>
        <result property="keyDomain" column="key_domain"/>
    </resultMap>

    <sql id="selectkeymanageVo">
        select key_id, user_id, user_name, encryt_type, encryt_name, key_name, key_use,
               key_value, cre_time, upd_time, auto_update, status, chain_hash, block_height,
               chain_status, version, ua, key_domain
        from keymanage
    </sql>

    <select id="selectkeymanageList" parameterType="Keymanage" resultMap="keymanageResult">
        <include refid="selectkeymanageVo"/>
        <where>
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="userName != null and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="encrytType != null and encrytType != ''"> and encryt_type = #{encrytType}</if>
            <if test="encrytName != null and encrytName != ''"> and encryt_name like concat('%', #{encrytName}, '%')</if>
            <if test="keyName != null and keyName != ''"> and key_name like concat('%', #{keyName}, '%')</if>
            <if test="keyUse != null and keyUse != ''"> and key_use = #{keyUse}</if>
            <if test="status != null and status != ''"> and status = #{status}</if>
            <if test="chainStatus != null and chainStatus != ''"> and chain_status = #{chainStatus}</if>
        </where>
        order by key_id desc
    </select>

    <select id="selectkeymanageByKeyId" parameterType="Long" resultMap="keymanageResult">
        <include refid="selectkeymanageVo"/>
        where key_id = #{keyId}
    </select>

    <insert id="insertkeymanage" parameterType="Keymanage" useGeneratedKeys="true" keyProperty="keyId">
        insert into keymanage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="encrytType != null and encrytType != ''">encryt_type,</if>
            <if test="encrytName != null and encrytName != ''">encryt_name,</if>
            <if test="keyName != null and keyName != ''">key_name,</if>
            <if test="keyUse != null and keyUse != ''">key_use,</if>
            <if test="keyValue != null and keyValue != ''">key_value,</if>
            <if test="creTime != null and creTime != ''">cre_time,</if>
            <if test="updTime != null and updTime != ''">upd_time,</if>
            <if test="autoUpdate != null and autoUpdate != ''">auto_update,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="chainHash != null and chainHash != ''">chain_hash,</if>
            <if test="blockHeight != null">block_height,</if>
            <if test="chainStatus != null and chainStatus != ''">chain_status,</if>
            <if test="version != null">version,</if>
            <if test="uA != null and uA != ''">ua,</if>
            <if test="keyDomain != null and keyDomain != ''">key_domain,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="encrytType != null and encrytType != ''">#{encrytType},</if>
            <if test="encrytName != null and encrytName != ''">#{encrytName},</if>
            <if test="keyName != null and keyName != ''">#{keyName},</if>
            <if test="keyUse != null and keyUse != ''">#{keyUse},</if>
            <if test="keyValue != null and keyValue != ''">#{keyValue},</if>
            <if test="creTime != null and creTime != ''">#{creTime},</if>
            <if test="updTime != null and updTime != ''">#{updTime},</if>
            <if test="autoUpdate != null and autoUpdate != ''">#{autoUpdate},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="chainHash != null and chainHash != ''">#{chainHash},</if>
            <if test="blockHeight != null">#{blockHeight},</if>
            <if test="chainStatus != null and chainStatus != ''">#{chainStatus},</if>
            <if test="version != null">#{version},</if>
            <if test="uA != null and uA != ''">#{uA},</if>
            <if test="keyDomain != null and keyDomain != ''">#{keyDomain},</if>
        </trim>
    </insert>

    <insert id="insertKeymanageBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="keyId">
        INSERT INTO keymanage (
            user_id, user_name, encryt_type, encryt_name, key_name, key_use,
            key_value, cre_time, upd_time, auto_update, status,
            chain_hash, block_height, chain_status, version, ua, key_domain
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.userId},
                #{item.userName},
                #{item.encrytType},
                #{item.encrytName},
                #{item.keyName},
                #{item.keyUse},
                #{item.keyValue},
                #{item.creTime},
                #{item.updTime},
                #{item.autoUpdate},
                <choose>
                    <when test="item.status != null">#{item.status}</when>
                    <otherwise>'0'</otherwise>
                </choose>,
                #{item.chainHash},
                #{item.blockHeight},
                <choose>
                    <when test="item.chainStatus != null">#{item.chainStatus}</when>
                    <otherwise>'0'</otherwise>
                </choose>,
                <choose>
                    <when test="item.version != null">#{item.version}</when>
                    <otherwise>1</otherwise>
                </choose>,
                #{item.uA},
                #{item.keyDomain}
            )
        </foreach>
    </insert>

    <update id="updatekeymanage" parameterType="Keymanage">
        update keymanage
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="encrytType != null and encrytType != ''">encryt_type = #{encrytType},</if>
            <if test="encrytName != null and encrytName != ''">encryt_name = #{encrytName},</if>
            <if test="keyName != null and keyName != ''">key_name = #{keyName},</if>
            <if test="keyUse != null and keyUse != ''">key_use = #{keyUse},</if>
            <if test="keyValue != null and keyValue != ''">key_value = #{keyValue},</if>
            <if test="updTime != null and updTime != ''">upd_time = #{updTime},</if>
            <if test="autoUpdate != null and autoUpdate != ''">auto_update = #{autoUpdate},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="chainHash != null and chainHash != ''">chain_hash = #{chainHash},</if>
            <if test="blockHeight != null">block_height = #{blockHeight},</if>
            <if test="chainStatus != null and chainStatus != ''">chain_status = #{chainStatus},</if>
            <if test="version != null">version = #{version},</if>
            <if test="uA != null and uA != ''">ua = #{uA},</if>
            <if test="keyDomain != null and keyDomain != ''">key_domain = #{keyDomain},</if>
        </trim>
        where key_id = #{keyId}
    </update>

    <delete id="deletekeymanageByKeyId" parameterType="Long">
        delete from keymanage where key_id = #{keyId}
    </delete>

</mapper>
