# KMS-OPS 环境变量配置
# 用于 docker-compose 环境变量注入

# ========== 中间件配置 ==========
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=ry_vue

REDIS_HOST=redis
REDIS_PORT=6379

KAFKA_HOST=kafka
KAFKA_PORT=9092

FISCO_HOST=fisco-node
FISCO_PORT=8545
FISCO_CONTRACT_ADDRESS=0xadb09744949bbc4096c8b340303dfed763dae2b7
FISCO_PRIVATE_KEY=
KMS_CHAIN_RESULT_TOPIC=key_chain_result

# ========== kms-generate Go 后端 ==========
GENERATE_GO_PORT=8081

# ========== kms-generate Java 后端 ==========
GENERATE_JAVA_PORT=9081

# ========== kms-updatedel Go 后端 ==========
UPDATEDEL_GO_PORT=8082

# ========== kms-updatedel Java 后端 ==========
UPDATEDEL_JAVA_PORT=9082
