// sidebar
$base-sidebar-width: 200px;

// 主题颜色
$base-theme-color: #409EFF;

// 颜色
$base-blue: #409EFF;
$base-success: #67C23A;
$base-warning: #E6A23C;
$base-danger: #F56C6C;
$base-info: #909399;

// 侧边栏深色
$base-menu-bg: #304156;
$base-menu-text: #bfcbd9;
$base-menu-active-text: #409EFF;

// 侧边栏浅色
$base-light-menu-bg: #fff;
$base-light-menu-text: #333;
$base-light-menu-active-text: #409EFF;

// 头部高度
$base-nav-height: 50px;

// 标签栏高度
$base-tags-view-height: 34px;

// 侧边栏小窗口最小宽度
$base-left-sidebar-width: 54px;
