<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.permission.mapper.PermissionRequestMapper">
    
    <resultMap type="com.ruoyi.permission.domain.PermissionRequest" id="PermissionRequestResult">
        <result property="requestId"    column="request_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="originalLevel"    column="original_level"    />
        <result property="requestLevel"    column="request_level"    />
        <result property="requestReason"    column="request_reason"    />
        <result property="status"    column="status"    />
        <result property="isTemp"    column="is_temp"    />
        <result property="requestTime"    column="request_time"    />
        <result property="approveBy"    column="approve_by"    />
        <result property="approveTime"    column="approve_time"    />
        <result property="approveNote"    column="approve_note"    />
        <result property="useTime"    column="use_time"    />
        <result property="rollbackTime"    column="rollback_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPermissionRequestVo">
        select request_id, user_id, user_name, original_level, request_level, request_reason, status, is_temp, request_time, approve_by, approve_time, approve_note, use_time, rollback_time, create_time, update_time from permission_request
    </sql>

    <select id="selectPermissionRequestList" parameterType="com.ruoyi.permission.domain.PermissionRequest" resultMap="PermissionRequestResult">
        <include refid="selectPermissionRequestVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="requestLevel != null "> and request_level = #{requestLevel}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="isTemp != null "> and is_temp = #{isTemp}</if>
        </where>
        order by request_time desc
    </select>
    
    <select id="selectPermissionRequestByRequestId" parameterType="Long" resultMap="PermissionRequestResult">
        <include refid="selectPermissionRequestVo"/>
        where request_id = #{requestId}
    </select>
        
    <insert id="insertPermissionRequest" parameterType="com.ruoyi.permission.domain.PermissionRequest" useGeneratedKeys="true" keyProperty="requestId">
        insert into permission_request
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="originalLevel != null">original_level,</if>
            <if test="requestLevel != null">request_level,</if>
            <if test="requestReason != null">request_reason,</if>
            <if test="status != null">status,</if>
            <if test="isTemp != null">is_temp,</if>
            <if test="requestTime != null">request_time,</if>
            <if test="approveBy != null">approve_by,</if>
            <if test="approveTime != null">approve_time,</if>
            <if test="approveNote != null">approve_note,</if>
            <if test="useTime != null">use_time,</if>
            <if test="rollbackTime != null">rollback_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="originalLevel != null">#{originalLevel},</if>
            <if test="requestLevel != null">#{requestLevel},</if>
            <if test="requestReason != null">#{requestReason},</if>
            <if test="status != null">#{status},</if>
            <if test="isTemp != null">#{isTemp},</if>
            <if test="requestTime != null">#{requestTime},</if>
            <if test="approveBy != null">#{approveBy},</if>
            <if test="approveTime != null">#{approveTime},</if>
            <if test="approveNote != null">#{approveNote},</if>
            <if test="useTime != null">#{useTime},</if>
            <if test="rollbackTime != null">#{rollbackTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePermissionRequest" parameterType="com.ruoyi.permission.domain.PermissionRequest">
        update permission_request
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="originalLevel != null">original_level = #{originalLevel},</if>
            <if test="requestLevel != null">request_level = #{requestLevel},</if>
            <if test="requestReason != null">request_reason = #{requestReason},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isTemp != null">is_temp = #{isTemp},</if>
            <if test="requestTime != null">request_time = #{requestTime},</if>
            <if test="approveBy != null">approve_by = #{approveBy},</if>
            <if test="approveTime != null">approve_time = #{approveTime},</if>
            <if test="approveNote != null">approve_note = #{approveNote},</if>
            <if test="useTime != null">use_time = #{useTime},</if>
            <if test="rollbackTime != null">rollback_time = #{rollbackTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where request_id = #{requestId}
    </update>

    <delete id="deletePermissionRequestByRequestId" parameterType="Long">
        delete from permission_request where request_id = #{requestId}
    </delete>

    <delete id="deletePermissionRequestByRequestIds" parameterType="String">
        delete from permission_request where request_id in 
        <foreach item="requestId" collection="array" open="(" separator="," close=")">
            #{requestId}
        </foreach>
    </delete>
</mapper>
