<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.updatedel.mapper.KeymanageMapper">

    <resultMap id="keymanageResult" type="com.ruoyi.updatedel.domain.Keymanage">
        <id property="keyId" column="key_id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="ua" column="ua"/>
        <result property="encrytType" column="encryt_type"/>
        <result property="encrytName" column="encryt_name"/>
        <result property="keyName" column="key_name"/>
        <result property="keyUse" column="key_use"/>
        <result property="keyValue" column="key_value"/>
        <result property="creTime" column="cre_time"/>
        <result property="updTime" column="upd_time"/>
        <result property="autoUpdate" column="auto_update"/>
        <result property="status" column="status"/>
        <result property="version" column="version"/>
        <result property="chainHash" column="chain_hash"/>
        <result property="blockHeight" column="block_height"/>
        <result property="chainStatus" column="chain_status"/>
        <result property="keyDomain" column="key_domain"/>
    </resultMap>

    <sql id="selectKeymanageVo">
        select key_id, user_id, user_name, ua, encryt_type, encryt_name, key_name, key_use,
               key_value, cre_time, upd_time, auto_update, status, version, chain_hash,
               block_height, chain_status, key_domain
        from keymanage
    </sql>

    <select id="selectkeymanageByKeyId" parameterType="Long" resultMap="keymanageResult">
        <include refid="selectKeymanageVo"/>
        where key_id = #{keyId}
    </select>

    <select id="selectkeymanageList" parameterType="com.ruoyi.updatedel.domain.Keymanage" resultMap="keymanageResult">
        <include refid="selectKeymanageVo"/>
        <where>
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="userName != null and userName != ''">and user_name like concat('%', #{userName}, '%')</if>
            <if test="encrytType != null and encrytType != ''">and encryt_type = #{encrytType}</if>
            <if test="encrytName != null and encrytName != ''">and encryt_name like concat('%', #{encrytName}, '%')</if>
            <if test="keyName != null and keyName != ''">and key_name like concat('%', #{keyName}, '%')</if>
            <if test="keyUse != null and keyUse != ''">and key_use = #{keyUse}</if>
            <if test="keyValue != null and keyValue != ''">and key_value = #{keyValue}</if>
            <if test="creTime != null and creTime != ''">and cre_time = #{creTime}</if>
            <if test="updTime != null and updTime != ''">and upd_time = #{updTime}</if>
            <if test="autoUpdate != null and autoUpdate != ''">and auto_update = #{autoUpdate}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="chainStatus != null and chainStatus != ''">and chain_status = #{chainStatus}</if>
        </where>
        order by key_id desc
    </select>

    <insert id="insertkeymanage" parameterType="com.ruoyi.updatedel.domain.Keymanage" useGeneratedKeys="true" keyProperty="keyId">
        insert into keymanage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="ua != null and ua != ''">ua,</if>
            <if test="encrytType != null and encrytType != ''">encryt_type,</if>
            <if test="encrytName != null and encrytName != ''">encryt_name,</if>
            <if test="keyName != null and keyName != ''">key_name,</if>
            <if test="keyUse != null and keyUse != ''">key_use,</if>
            <if test="keyValue != null and keyValue != ''">key_value,</if>
            <if test="creTime != null and creTime != ''">cre_time,</if>
            <if test="updTime != null and updTime != ''">upd_time,</if>
            <if test="autoUpdate != null and autoUpdate != ''">auto_update,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="version != null">version,</if>
            <if test="chainHash != null and chainHash != ''">chain_hash,</if>
            <if test="blockHeight != null">block_height,</if>
            <if test="chainStatus != null and chainStatus != ''">chain_status,</if>
            <if test="keyDomain != null and keyDomain != ''">key_domain,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="ua != null and ua != ''">#{ua},</if>
            <if test="encrytType != null and encrytType != ''">#{encrytType},</if>
            <if test="encrytName != null and encrytName != ''">#{encrytName},</if>
            <if test="keyName != null and keyName != ''">#{keyName},</if>
            <if test="keyUse != null and keyUse != ''">#{keyUse},</if>
            <if test="keyValue != null and keyValue != ''">#{keyValue},</if>
            <if test="creTime != null and creTime != ''">#{creTime},</if>
            <if test="updTime != null and updTime != ''">#{updTime},</if>
            <if test="autoUpdate != null and autoUpdate != ''">#{autoUpdate},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="version != null">#{version},</if>
            <if test="chainHash != null and chainHash != ''">#{chainHash},</if>
            <if test="blockHeight != null">#{blockHeight},</if>
            <if test="chainStatus != null and chainStatus != ''">#{chainStatus},</if>
            <if test="keyDomain != null and keyDomain != ''">#{keyDomain},</if>
        </trim>
    </insert>

    <insert id="insertKeymanageBatch" parameterType="java.util.List">
        insert into keymanage (
            user_id, user_name, ua, encryt_type, encryt_name, key_name, key_use,
            key_value, cre_time, upd_time, auto_update, status, version, chain_hash,
            block_height, chain_status, key_domain
        ) values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.userId}, #{item.userName}, #{item.ua}, #{item.encrytType}, #{item.encrytName},
                #{item.keyName}, #{item.keyUse}, #{item.keyValue}, #{item.creTime}, #{item.updTime},
                #{item.autoUpdate}, #{item.status}, #{item.version}, #{item.chainHash},
                #{item.blockHeight}, #{item.chainStatus}, #{item.keyDomain}
            )
        </foreach>
    </insert>

    <update id="updatekeymanage" parameterType="com.ruoyi.updatedel.domain.Keymanage">
        update keymanage
        <trim prefix="set" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="ua != null and ua != ''">ua = #{ua},</if>
            <if test="encrytType != null and encrytType != ''">encryt_type = #{encrytType},</if>
            <if test="encrytName != null and encrytName != ''">encryt_name = #{encrytName},</if>
            <if test="keyName != null and keyName != ''">key_name = #{keyName},</if>
            <if test="keyUse != null and keyUse != ''">key_use = #{keyUse},</if>
            <if test="keyValue != null and keyValue != ''">key_value = #{keyValue},</if>
            <if test="creTime != null and creTime != ''">cre_time = #{creTime},</if>
            <if test="updTime != null and updTime != ''">upd_time = #{updTime},</if>
            <if test="autoUpdate != null and autoUpdate != ''">auto_update = #{autoUpdate},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="version != null">version = #{version},</if>
            <if test="chainHash != null and chainHash != ''">chain_hash = #{chainHash},</if>
            <if test="blockHeight != null">block_height = #{blockHeight},</if>
            <if test="chainStatus != null and chainStatus != ''">chain_status = #{chainStatus},</if>
            <if test="keyDomain != null and keyDomain != ''">key_domain = #{keyDomain},</if>
        </trim>
        where key_id = #{keyId}
    </update>

    <update id="updateAutoUpdate">
        update keymanage
        set auto_update = #{autoUpdate}, upd_time = now()
        where key_id = #{keyId}
    </update>

    <update id="revoke">
        update keymanage
        set status = #{status}, upd_time = now()
        where key_id = #{keyId}
    </update>

    <select id="selectRevokeCandidates" resultMap="keymanageResult">
        <include refid="selectKeymanageVo"/>
        where user_name = #{userName}
          and (status is null or status != #{revokedStatus})
          and key_id in
        <foreach collection="keyIds" item="keyId" open="(" separator="," close=")">
            #{keyId}
        </foreach>
    </select>

    <update id="revokeBatch">
        update keymanage
        set status = #{status},
            chain_status = '0',
            chain_hash = null,
            block_height = null,
            upd_time = now()
        where user_name = #{userName}
          and (status is null or status != #{status})
          and key_id in
        <foreach collection="keyIds" item="keyId" open="(" separator="," close=")">
            #{keyId}
        </foreach>
    </update>

    <update id="updateChainStatus">
        update keymanage
        <trim prefix="set" suffixOverrides=",">
            chain_status = #{chainStatus},
            <if test="chainHash != null and chainHash != ''">chain_hash = #{chainHash},</if>
            <if test="blockHeight != null">block_height = #{blockHeight},</if>
            upd_time = now()
        </trim>
        where key_id = #{keyId}
    </update>

    <update id="resetChainState">
        update keymanage
        set chain_status = #{chainStatus},
            chain_hash = null,
            block_height = null,
            upd_time = now()
        where key_id = #{keyId}
    </update>

    <select id="selectAutoUpdateCandidates" resultMap="keymanageResult">
        <include refid="selectKeymanageVo"/>
        where auto_update = '1'
          and status != '3'
          and (upd_time is null or upd_time &lt;= #{cutoffTime})
        order by upd_time asc, key_id asc
    </select>

    <select id="countAutoUpdateEnabled" resultType="int">
        select count(1)
        from keymanage
        where auto_update = '1' and status != '3'
    </select>

    <delete id="deletekeymanageByKeyId" parameterType="Long">
        delete from keymanage where key_id = #{keyId}
    </delete>

    <delete id="deletekeymanageByKeyIds" parameterType="Long">
        delete from keymanage where key_id in
        <foreach collection="array" item="keyId" open="(" separator="," close=")">
            #{keyId}
        </foreach>
    </delete>
</mapper>
